In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
data base is a  storage system that has a collection of data used for easy access, management and maintainance

In [ ]:
SQL -
SQL stands for Structured Quiry Language.
SQL is a language for defining the structure of a datbase.
It allow user to access and manipulate the database .
type of SQL databases are : mySQL, Oracle, MsSQL, etc.

NOSQL-
NOSQL stands for not only Structured Quiry Language.
NOSQL can store semi structured and unstrucrured data.
NOSQL are well suited for real time high speed data processing.
various popular NOSQL database are including MongDB (document oriented), casandra , neo4j and apache Hbase.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stand for Data Definition Language
it is used to define , manage and modify the structure of the database , which include creating and managing database objects.
CREATE .. CREATE is used for creating the database / and database objects.
EXAMPLE: CREATE DATABASE IF NOT EXISTS CLASS;
         CREATE TABLE IF NOT EXISTS Students (Roll no. INT PRIMARY KEY, F_NAME VARCHAR(12), L_NAME VARCHAR (12));
    
DROP.. DROP is used for deleting the database and its objects
EXAMPLE: DROP TABLE Students; 

ALTER.. AlTER and the structured in the database objects 

TRUNCATE..TRUNCATE removes all the records permanently 
EXAMPL: TRUNCATE TABLE Students;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language
DML operations primarly involve querying , insering , updating , and deleting data database table

INSERT: IT is used to insert a datat into a table 
example: INSERT INTO Students (Roll no , F_names, L_names,) VALUES ( '10', 'Sadaf', 'Khan',);

UPDATE: IT is used to update the existing data within a table .
example: UPDATE Students SETT Rollno. = 10 where F_name =  'sadaf';

DELETE: it is used to delete all the data from the table 
example: delete from students WHERE Rollno. = 10;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for DATA QUIRY LANGUAGE. That is specially focused on querying and retrieving data from a database .
It is used for primarily concerned with the 'SELECT' statement.
In MYSQL , DQL is used for retrieve and manupulate data in a read - only manner .

SELECT Statement: The primary DQL statement is select . It is used to query data from one or more database table .
With the SELECT statement , we can specify the column we want to retrieve , apply filters , performs calculation,
and more .
EXAMPLE-
Select = from students;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
PRIMARY KEY is used to make a column unique & not null.
There must be a single primary key in a  table 
It ensures data integrity and provides a fast way to retrieve specific records .
And Primary key are typically used for referencing and linking data between tables.

FOREIGN KEY: It is an attribute or sett of attributes that references to primary key of same table or another table (relation)-
A table would be more than one foreign key.
It is used to maintain referential integrity .

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)


mycursor = mydb.cursor()

cursor():-
The cursor() method is called on the database connection (mydb) to create a cursor object.
A cursor is like a handle or pointer that allows you to execute SQL commands and fetch results from the database.


Execute():-
The execute() method is called on the cursor object (mycursor) to execute SQL querries.
It takes an arguement that you wants to execute.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM: THE FROM clause specifies the tables or data sources from which the data will be retrieved.

WHERE: THE WHERE is used to filter rows from the tables specified in the FROM clause.
Rows that meet the specified conditions are included in the result set.

GROUP BY: If specified , the GROUP by clause is used to group rows based one or more columns.
This is often used to conjuction with aggregate function like SUM, COUNT,AVG etc.

HAVING: The HAVING clause is used to filter groups of rows that were created by the GROUP by clause.
It operates similarly to the WHERE clause but acts on grouped data.

SELECT: The SELECT clause specifies which coloumns or expressions should be incleded in result set.
It follows the filtering and grouping operations.

DISTINCT: If the DISTINCT keyword is used, it remove duplicate rows from the result set based on the selected columns.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns in ascending or descending order.